body, .background {
  background-image: linear-gradient(rgb(94, 94, 94), black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
}

.mask {
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
}

.text-shadow {
  text-shadow: 0.5px 0.5px black;
}

.box-shadow {
  box-shadow: 0.5px -0.5px 5px black;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.background-fade {
  background: rgb(10, 10, 10, 0.6)
}

.white-background-fade {
  background: rgb(255, 255, 255, 0.8)
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.width-10 {
  width: 14%;
}

.margin-top-10 {
  margin-top: 10%;
}

.top-42 {
  top: 42%;
}

.h-logIn {
  height: 364px;
}